:host {
  display: flex;
  flex-wrap: wrap;
}

section {
  width: 70%;
  overflow: hidden;
  article {
    max-width: 100%;
    margin-bottom: 40px;
    p {
      white-space: normal;
    }
  }
}



aside {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 20%;
}