@import '../../mixins';



.datalog-table {
  font-size: 16px;
  width: 100%;
  font-size: 0.6em;

  th {
    font-weight: bold;
    position: relative;
    padding-right: 20px;

    // triangle that displays in main header to indicate sorting order
    .sortOrder {
      position: absolute;
      margin-left: 5px;
      &.asc {
        top: 6px;
        @include triangle(top, 5px, #000);
      }

      &.desc {
        @include triangle(bottom, 5px, #000);
      }
    }
  }


  th,td {
    text-align: center;
    white-space: nowrap;
  }

  td {
    border: 1px solid #ddd;
  }
}