#app {
  display: flex;
  flex-wrap: wrap;

  > nav,
  > main {
    display: inline-block;
    width: 100%;
  }

  > csv-loader {
    width: 100%;
  }

  @media(min-width: 800px) {
    > nav {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100px;
      white-space: nowrap;

      li {
        svg {
          margin: auto;
          display: block;
        }
        > a {

        }
      }
    }
    > main {
      margin-left: 120px;
      width: auto;
    }
  }
}