#app {
  display: flex;
  flex-wrap: wrap;

  > nav,
  > main {
    display: inline-block;
    width: 100%;
  }

  > csv-loader {
    width: 100%;
  }

  @media(min-width: 800px) {
    > nav {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100px;
      white-space: nowrap;
      padding-top: 20px;
      li {
        text-align: center;
        margin-bottom: 20px;
        a {
          text-decoration: none;
          color: #7b7b7b;
          fa-icon {
            margin: auto;
            font-size: 1.4em;
            display: block;
            margin-bottom: 10px;
          }

          &:hover {
            color: #000;
          }
        }


      }
    }
    > main {
      margin-left: 120px;
      width: calc( 100% - 120px);

    }
  }
}