<div id="app">
    <div *ngIf="store.log; then appScreen else uploadScreen"></div>
</div>

<!-- This will only be displayed if there is no csv string in the store -->
<ng-template #uploadScreen>
    <csv-loader (upload)="store.setLog($event)"></csv-loader>
</ng-template>

<!-- We have a csv, show the app -->
<ng-template #appScreen>
  <nav class="app-navigation">
    <ul>
      <li><a routerLink="/table-view" routerLinkActive="active"><fa-icon icon="table"></fa-icon> Table View</a></li>
      <li><a routerLink="/line-view" routerLinkActive="active"><fa-icon icon="chart-line"></fa-icon> Line View</a></li>
    </ul>
  </nav>
  <main>
    <router-outlet></router-outlet>
  </main>
  <nav [ngClass]="{'app-settings':true, 'visible':showAppSettings}">

    <button (click)="toggleSettingsVisible()"><fa-icon icon="cogs"></fa-icon></button>
    <div *ngIf="showAppSettings" class="settingsScreen ">
      <h2>Visible Data</h2>
      <p>Toggling a checkbox hides it from the log viewer.</p>
      <ul>
        <li *ngFor="let header of store.log.allHeaders">
          <label>
            <input
              type="checkbox"
              checked="this.store.headers.includes(header)"
              (change)="($event.target.checked) ? store.log.showColumn(header) : store.log.hideColumn(header)"/>
            {{ header }}</label>
        </li>
      </ul>
    </div>
  </nav>
</ng-template>

