#app {
  display: flex;
  flex-wrap: wrap;

  > .app-navigation,
  > main {
    display: inline-block;
    width: 100%;
  }

  > csv-loader {
    width: 100%;
  }

  > .app-settings {
    > button {
      position: absolute;
      right: 0;
      top: 0;
    }
    position: fixed;
    right: 0;
    top: 10%;
    z-index: 10000000;
    max-width: 800px;
    &.visible {
      background: #fff;
      padding: 20px;
      overflow-y: scroll;
    }

  }
  @media(min-width: 800px) {
    > .app-navigation {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      width: 120px;
      white-space: nowrap;
      padding-top: 20px;
      background: #ddd;
      border-right: 4px solid #aaa;
      li {
        text-align: center;
        margin-bottom: 20px;
        a {
          text-decoration: none;
          color: #7b7b7b;
          fa-icon {
            margin: auto;
            font-size: 1.4em;
            display: block;
            margin-bottom: 10px;
          }

          &:hover {
            color: #000;
          }
        }


      }
    }
    > main {
      margin-left: 120px;
      width: calc( 100% - 120px);

    }
  }
}